@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");

@layer base {
  body {
    @apply font-[Lexend];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
    @apply duration-300;
  }
  li:hover {
    @apply text-white;
    @apply duration-300;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background: linear-gradient(to right, rgba(255, 234, 112, 0.8), hsla(49, 73%, 72%, 0.8)) !important;
}
